@import './../../styles/vars';

.skills {
    background-color: $gray;
    color: $white;
    padding: 60px 5px;

    &__list {
        padding: 120px 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 35px;
    }

    &__item {
        color: $main-color;
    }
}