@import './../../styles/vars';

.about {
    background-color: $accent-color;
    padding: 0 10%;
    margin: 0 auto;
    color: $main-color;

    &__title {
        padding-top: 50px;
        text-align: center;
    }

    &__info {
        padding: 120px 60px;
        display: flex;
        gap: 100px;
    }

    &__description {
        font-size: 1.5rem;
        padding: 8px;
        border-radius: 12px;
        border: 2px solid $main-color;
    }

    &__photo {
        min-height: 360px;
        object-fit: cover;
        border-radius: 12px;
        width: auto;
        border-bottom: 2px solid $main-color;
    }
}