@import './../../styles/vars';

.about {
    color: $main-color;
    background-color: $accent-color;

    &__title {
        padding-top: 50px;
        text-align: center;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 100px;

        padding: 120px;
    }

    &__description {
        font-size: 1.5rem;

        padding: 8px;

        border-radius: 12px;
        border: 2px solid $main-color;
    }

    &__photo {
        object-fit: cover;

        height: 240px;
        width: 180px;

        border-radius: 12px;
        border-bottom: 2px solid $main-color;
    }
}

@include mediaLaptop {
    .about{

        &__info {
            flex-direction: column-reverse;
            gap: 20px;
            padding: 60px;
        }
    }
}

@include mediaTablet {
    .about{
        &__info {
            padding: 20px 8px;
        }
        &__description {
            text-align: center;
        }
    }
}